<div class="updateProject-card m-5">
    <form class="updateProject-form m-2">
        <div class="mb-3 row">
            <label for="projectName" class="col-9 col-sm-2 col-form-label">Project name:</label>
            <div class="col-sm-10">
                <textarea rows="1" class="form-control" id="projectName">{{title}}</textarea>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="description" class="col-9 col-sm-2 col-form-label">Description:</label>
            <div class="col-sm-10">
                <textarea type="text" class="form-control" rows="3" id="description"
                    placeholder="Tell us a little about your project!">{{description}}</textarea>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="projectHours" class="col-9 col-sm-2 col-form-label">Hours:</label>
            <div class="col-sm-10">
                <textarea rows="1" class="form-control" id="projectHours">{{hours}}</textarea>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="projectLink" class="col-9 col-sm-2 col-form-label">Deployed link:</label>
            <div class="col-sm-10">
                <textarea rows="1" class="form-control" id="projectLink">{{deploy_link}}</textarea>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="githubRepoLink" class="col-9 col-sm-2 col-form-label">Github repository link:</label>
            <div class="col-sm-10">
                <textarea rows="1" class="form-control" id="githubRepoLink">{{github_link}}</textarea>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="projectLanguages" class="col-9 col-sm-2 col-form-label">Languages used:</label>
            <div class="col-sm-10">
                <textarea rows="1" class="form-control" id="projectLanguages">{{languages}}</textarea>
            </div>
        </div>
        <button class="btn btn-lg m-2" type="submit" id="updateProjectBtn">Update project</button>
    </form>
</div>

<script scr="./js/updateProject.js"></script>